<h1>Editing neighbourhood</h1>

<%= render "form", neighbourhood: @neighbourhood %>

<br>

<div>
  <%= link_to "Show this neighbourhood", @neighbourhood %> |
  <%= link_to "Back to neighbourhoods", neighbourhoods_path %>
</div>
