<h1>Editing social group</h1>

<%= render "form", social_group: @social_group %>

<br>

<div>
  <%= link_to "Show this social group", @social_group %> |
  <%= link_to "Back to social groups", social_groups_path %>
</div>
