<aside class="sidebar">
  <div class="sidebar___main">
    <div class="sidebar___header">
      <h3>Secretaria de participação social</p>
    </div>

    <div class="sidebar___items">
      <ul>
        <li><a href="#">Central de comunicações</a></li>
        <li><a href="#">Grupos sociais</a></li>
        <li><a href="#">Cidadãos</a></li>
        <li><a href="#">ROP</a></li>
        <li><a href="#">Bairros</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar___footer">
    <p>
      Re-fazendo meu TCC de 2015 em 2023
    </p>
  </div>
</aside>
