<aside class="sidebar">
  <div class="sidebar___main">
    <div class="sidebar___header">
      <h3>Secretaria de participação social</p>
    </div>

    <div class="sidebar___items">
      <ul>
        <li><%= link_to "Grupos Sociais", social_groups_url %></li>
        <li><%= link_to "Cidadãos", people_url %></li>
        <li><%= link_to "Rop", rops_url %></li>
        <li><%= link_to "Bairro", neighbourhoods_url %></li>
      </ul>
    </div>
  </div>

  <div class="sidebar___footer">
    <p>
      Re-fazendo meu TCC de 2015 em 2023
    </p>
  </div>
</aside>
