<!DOCTYPE html>
<html>
  <head>
    <title>Secreataria de Participação Social - TCC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="login-container">
      <section class="login-fields">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
